.carousel-container {
  position: relative;
  width: 100%;
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}

.carousel-track {
  display: flex;
  align-items: center;
  gap: 40px;
  transition: transform 0.5s ease;
  will-change: transform;
}

.game-card {
  flex-shrink: 0;
  width: 500px;
  transition: all 0.5s ease;
  opacity: 0.4;
  transform: scale(0.5);
  cursor: pointer;
}

.game-card.active {
  opacity: 1;
  transform: scale(1.2);
  z-index: 10;
}

.banner-card {
  background-color: #111111;
  position: relative;
  transition: 0.3s;
  overflow: hidden;
  padding: 2px;
}

.banner-card:hover {
  background-color: #222222;
}

.banner-image {
  display: block;
  width: 100%;
  height: auto;
  top: 0;
  object-fit: cover;
  overflow: hidden;
}

.overlay-logo {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.nav-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(130, 74, 29, 0.5);
  border: none;
  color: white;
  font-size: 48px;
  width: 46px;
  height: 75px;
  cursor: pointer;
  z-index: 100;
  border-radius: 12%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s;
}

.nav-arrow:hover {
  background: rgba(130, 74, 29, 1);
}

.nav-arrow.left {
  left: 20px;
}

.nav-arrow.right {
  right: 20px;
}

.game-info {
  position: absolute;
  bottom: 1%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: 101;
  background: rgba(15, 15, 15, 0.2);
  padding: 20px;
  border-radius: 8px;
}

.game-info.visible {
  opacity: 1;
}

.game-info h2 {
  margin: 0 0 10px 0;
  font-size: 26px;
}

.game-info p {
  margin: 5px 0;
  font-size: 12px;
}



.docs {
  background-color: #824a1d;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16;
  width: 250px;
  height: 40px;
  line-height: 40px;
}

a:hover:not(.active) {
  opacity: 1;
}


/* Banner */
.image-container-banner {
  position: relative;
  width: 100%;
  height: 220px;
  overflow: hidden;
  background-color: #000000;
}

.banner-art {
  display: block;
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.banner-logo {
  position: absolute;
  pointer-events: none;
  height: 100%;
  width: 75%;
  left: 13%;
  top: 0;
  object-fit: contain;
}


/* Project Preview */
.project-preview-container {
  background-color: rgba(12,12, 12, 0.5);
  position: relative;
  top: 20px;
  width: 90%;
  left: 5%;
  right: 5%;
  padding: 20px;
  display: flex;
  gap: 20px;
}

.project-slideshow-container {
  background-color: rgba(25, 1, 1, 0);
  position: relative;
  width: 75%;
  height: 100%;
  top: 0;
}

.project-about-container {
  background-color: rgba(25, 1, 1, 0);
  position: relative;
  width: 30%;
  height: 100%;
  top: 0;
}


/* Capsule */
.image-container-capsule {
  position: relative;
  width: 100%;
  height: 170px;
  overflow: hidden;
  background-color: #000000;
}

.capsule-art {
  display: block;
  height: 100%;
  width: 117%;
  object-fit: cover;
  display: flex;
}

.capsule-logo {
  position: absolute;
  pointer-events: none;
  height: 100%;
  width: 117%;
  top: 0;
  object-fit: contain;
}


/* Description */
.description-container {
  background-color: rgba(12,12, 12, 0.5);
  position: relative;
  top: 50px;
  width: 90%;
  left: 5%;
  padding: 20px;
}