/* Text outline */
.outlined-text {
  text-shadow: -2px -2px 0 #1E132E, 2px -2px 0 #1E132E, -2px 2px 0 #1E132E, 2px 2px 0 #1E132E;
}

/* Page body*/
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #f5f5f5;
}
