.parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 1000px;
}

.column {
  width: 200px;
  margin: 16px;
  text-align: center;
  background-color: transparent;
  height: 310px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  object-fit: cover;
  overflow: hidden;
  padding: 8px 8px;
  height: 310px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
  transition: 0.3s;
  background-color: #555;
  padding: 16px 16px;
}

.box {
  color: white;
  padding: 16px 16px;
  word-wrap: break-word;
}

.avatar {
  vertical-align: middle;
  width: 128px;
  height: 128px;
  border-radius: 50%;
}